<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
<style>

  
</style>

</head>
<body>

 
  
  <div class="two alt-two">
    <h1>Projet Data Engineering 
      <span> Python, Flask, GitHub, Docker </span>
    </h1>
  </div>

  <table>
    <thead>
      <tr>
        <td>Informations sur la partie ML</td>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nom du dataSet </td>
        <td> Dummy Data HSS </td>

      </tr>
      <tr>
        <td>Algorithme </td>
        <td>Regression Linéaire</td>

      </tr>
    </tbody>
  </table>

  <p> {{testhtmlV}} </p>

  <br>
  <br>


  
    <button id="MyButton" class="favorite styled" type="button"> Regression Linéaire  ! </button>
    <p id="MyHeading"></p>

    <button id="MyButton2" class="favorite styled" type="button"> Random Forest  ! </button>
    <p id="MyHeading2"></p>

    <script>
      const MyButton = document.getElementById('MyButton');
      MyButton.addEventListener('click', function() {
          document.getElementById('MyHeading').innerText = "{{scoreRegressionHtml}}"
      })

      const MyButton2 = document.getElementById('MyButton2');
      MyButton2.addEventListener('click', function() {
          document.getElementById('MyHeading2').innerText = "{{scoreRandomHtml}}"
      })
  </script>
   
</body>
</html> 





